In [1]:
import sys
!{sys.executable} -m pip install pyfinance

Requirement already satisfied: pyfinance in /opt/conda/lib/python3.8/site-packages (1.3.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.8/site-packages (from pyfinance) (3.3.3)
Requirement already satisfied: statsmodels in /opt/conda/lib/python3.8/site-packages (from pyfinance) (0.12.1)
Requirement already satisfied: xlrd in /opt/conda/lib/python3.8/site-packages (from pyfinance) (1.2.0)
Requirement already satisfied: beautifulsoup4 in /opt/conda/lib/python3.8/site-packages (from pyfinance) (4.9.3)
Requirement already satisfied: pandas-datareader in /opt/conda/lib/python3.8/site-packages (from pyfinance) (0.8.1)
Requirement already satisfied: seaborn in /opt/conda/lib/python3.8/site-packages (from pyfinance) (0.11.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.8/site-packages (from pyfinance) (2.25.1)
Requirement already satisfied: pandas>=0.20 in /opt/conda/lib/python3.8/site-packages (from pyfinance) (1.3.4)
Requirement already satisfied: scikit-learn in /opt/conda/lib/python3.8/site-packages (from pyfinance) (0.23.2)
Requirement already satisfied: numpy in /opt/conda/lib/python3.8/site-packages (from pyfinance) (1.19.5)
Requirement already satisfied: xmltodict in /opt/conda/lib/python3.8/site-packages (from pyfinance) (0.12.0)
Requirement already satisfied: scipy in /opt/conda/lib/python3.8/site-packages (from pyfinance) (1.7.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.20->pyfinance) (2020.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.8/site-packages (from pandas>=0.20->pyfinance) (2.8.1)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas>=0.20->pyfinance) (1.15.0)
Requirement already satisfied: soupsieve>1.2 in /opt/conda/lib/python3.8/site-packages (from beautifulsoup4->pyfinance) (2.0.1)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pyfinance) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pyfinance) (8.0.1)
Requirement already satisfied: cycler>=0.10 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pyfinance) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in /opt/conda/lib/python3.8/site-packages (from matplotlib->pyfinance) (2.4.7)
Requirement already satisfied: lxml in /opt/conda/lib/python3.8/site-packages (from pandas-datareader->pyfinance) (4.6.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/conda/lib/python3.8/site-packages (from requests->pyfinance) (1.26.2)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.8/site-packages (from requests->pyfinance) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /opt/conda/lib/python3.8/site-packages (from requests->pyfinance) (2021.5.30)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.8/site-packages (from requests->pyfinance) (4.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->pyfinance) (2.1.0)
Requirement already satisfied: joblib>=0.11 in /opt/conda/lib/python3.8/site-packages (from scikit-learn->pyfinance) (1.0.0)
Requirement already satisfied: patsy>=0.5 in /opt/conda/lib/python3.8/site-packages (from statsmodels->pyfinance) (0.5.1)

In [8]:
import pandas as pd
pd.set_option("display.max_columns", None)

In [9]:
data = pd.read_excel("isx2010C.xls")

In [10]:
data.head()

,2009-09-21 00:00:00,340,345,350,355,360,365,370,375,380,385,390,395,400,405,410,415,420,425,430,435,440,445,450,455,460,465,470,475,480,485,490,495,500,505,510,515,520,525,530,535,540,545,550,555,560,565,570,Unnamed: 48,Unnamed: 49,date
,<int64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<object>
0,86,152.20,NaN,NaN,NaN,132.60,NaN,NaN,NaN,113.20,NaN,NaN,NaN,94.55,NaN,NaN,NaN,76.45,NaN,NaN,NaN,59.25,NaN,NaN,NaN,43.60,NaN,NaN,NaN,29.80,NaN,NaN,NaN,18.65,NaN,NaN,NaN,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491.34,0.11,21.9.2009
1,85,155.05,NaN,NaN,NaN,135.35,NaN,NaN,NaN,115.90,NaN,NaN,NaN,96.90,NaN,NaN,NaN,78.75,NaN,NaN,NaN,61.45,NaN,NaN,NaN,45.45,NaN,NaN,NaN,31.40,NaN,NaN,NaN,19.80,NaN,NaN,NaN,11.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.35,0.11,22.9.2009
2,84,152.40,NaN,NaN,NaN,132.70,NaN,NaN,NaN,113.30,NaN,NaN,NaN,94.35,NaN,NaN,NaN,76.15,NaN,NaN,NaN,59.05,NaN,NaN,NaN,43.40,NaN,NaN,NaN,29.55,NaN,NaN,NaN,18.45,NaN,NaN,NaN,10.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490.36,0.11,23.9.2009
3,83,147.00,NaN,NaN,NaN,127.25,NaN,NaN,NaN,108.05,NaN,NaN,NaN,89.70,NaN,NaN,NaN,71.95,NaN,NaN,NaN,55.25,NaN,NaN,NaN,39.70,NaN,NaN,NaN,26.95,NaN,NaN,NaN,16.45,NaN,NaN,NaN,8.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,486.99,0.11,24.9.2009
4,82,145.55,NaN,NaN,NaN,125.95,NaN,NaN,NaN,106.75,NaN,NaN,NaN,88.10,NaN,NaN,NaN,70.35,NaN,NaN,NaN,53.65,NaN,NaN,NaN,38.60,NaN,NaN,NaN,25.70,NaN,NaN,NaN,15.70,NaN,NaN,NaN,7.95,NaN,NaN,NaN,3.8,NaN,NaN,NaN,1525.0,NaN,NaN,484.11,0.11,25.9.2009

In [14]:
data1 = data.drop(data.columns[50], axis="columns")
data1.head()

,2009-09-21 00:00:00,340,345,350,355,360,365,370,375,380,385,390,395,400,405,410,415,420,425,430,435,440,445,450,455,460,465,470,475,480,485,490,495,500,505,510,515,520,525,530,535,540,545,550,555,560,565,570,Unnamed: 48,Unnamed: 49
,<int64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>
0,86,152.20,NaN,NaN,NaN,132.60,NaN,NaN,NaN,113.20,NaN,NaN,NaN,94.55,NaN,NaN,NaN,76.45,NaN,NaN,NaN,59.25,NaN,NaN,NaN,43.60,NaN,NaN,NaN,29.80,NaN,NaN,NaN,18.65,NaN,NaN,NaN,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491.34,0.11
1,85,155.05,NaN,NaN,NaN,135.35,NaN,NaN,NaN,115.90,NaN,NaN,NaN,96.90,NaN,NaN,NaN,78.75,NaN,NaN,NaN,61.45,NaN,NaN,NaN,45.45,NaN,NaN,NaN,31.40,NaN,NaN,NaN,19.80,NaN,NaN,NaN,11.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.35,0.11
2,84,152.40,NaN,NaN,NaN,132.70,NaN,NaN,NaN,113.30,NaN,NaN,NaN,94.35,NaN,NaN,NaN,76.15,NaN,NaN,NaN,59.05,NaN,NaN,NaN,43.40,NaN,NaN,NaN,29.55,NaN,NaN,NaN,18.45,NaN,NaN,NaN,10.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490.36,0.11
3,83,147.00,NaN,NaN,NaN,127.25,NaN,NaN,NaN,108.05,NaN,NaN,NaN,89.70,NaN,NaN,NaN,71.95,NaN,NaN,NaN,55.25,NaN,NaN,NaN,39.70,NaN,NaN,NaN,26.95,NaN,NaN,NaN,16.45,NaN,NaN,NaN,8.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,486.99,0.11
4,82,145.55,NaN,NaN,NaN,125.95,NaN,NaN,NaN,106.75,NaN,NaN,NaN,88.10,NaN,NaN,NaN,70.35,NaN,NaN,NaN,53.65,NaN,NaN,NaN,38.60,NaN,NaN,NaN,25.70,NaN,NaN,NaN,15.70,NaN,NaN,NaN,7.95,NaN,NaN,NaN,3.8,NaN,NaN,NaN,1525.0,NaN,NaN,484.11,0.11

In [15]:
data1 = data1.rename(columns={data.columns[0]:'T', data.columns[48]:'S', data.columns[49]:'r'})
data1.head()

,T,340,345,350,355,360,365,370,375,380,385,390,395,400,405,410,415,420,425,430,435,440,445,450,455,460,465,470,475,480,485,490,495,500,505,510,515,520,525,530,535,540,545,550,555,560,565,570,S,r
,<int64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>,<float64>
0,86,152.20,NaN,NaN,NaN,132.60,NaN,NaN,NaN,113.20,NaN,NaN,NaN,94.55,NaN,NaN,NaN,76.45,NaN,NaN,NaN,59.25,NaN,NaN,NaN,43.60,NaN,NaN,NaN,29.80,NaN,NaN,NaN,18.65,NaN,NaN,NaN,10.45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,491.34,0.11
1,85,155.05,NaN,NaN,NaN,135.35,NaN,NaN,NaN,115.90,NaN,NaN,NaN,96.90,NaN,NaN,NaN,78.75,NaN,NaN,NaN,61.45,NaN,NaN,NaN,45.45,NaN,NaN,NaN,31.40,NaN,NaN,NaN,19.80,NaN,NaN,NaN,11.15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,494.35,0.11
2,84,152.40,NaN,NaN,NaN,132.70,NaN,NaN,NaN,113.30,NaN,NaN,NaN,94.35,NaN,NaN,NaN,76.15,NaN,NaN,NaN,59.05,NaN,NaN,NaN,43.40,NaN,NaN,NaN,29.55,NaN,NaN,NaN,18.45,NaN,NaN,NaN,10.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490.36,0.11
3,83,147.00,NaN,NaN,NaN,127.25,NaN,NaN,NaN,108.05,NaN,NaN,NaN,89.70,NaN,NaN,NaN,71.95,NaN,NaN,NaN,55.25,NaN,NaN,NaN,39.70,NaN,NaN,NaN,26.95,NaN,NaN,NaN,16.45,NaN,NaN,NaN,8.95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,486.99,0.11
4,82,145.55,NaN,NaN,NaN,125.95,NaN,NaN,NaN,106.75,NaN,NaN,NaN,88.10,NaN,NaN,NaN,70.35,NaN,NaN,NaN,53.65,NaN,NaN,NaN,38.60,NaN,NaN,NaN,25.70,NaN,NaN,NaN,15.70,NaN,NaN,NaN,7.95,NaN,NaN,NaN,3.8,NaN,NaN,NaN,1525.0,NaN,NaN,484.11,0.11

In [16]:
data1 = data1.melt(id_vars=['T', 'r', 'S'], var_name="E").dropna()
data1.rename({'value':'Cobs'}, axis='columns', inplace=True)
data1['T'] = data1['T']/252
data1['S'] = data1['S']/1000
data1['r'] = data1['r']/100
data1['E'] = data1['E']/1000
data1['Cobs'] = data1['Cobs']/1000
data1.head()

          T         r         S        E      Cobs
  <float64> <float64> <float64> <object> <float64>
0  0.341270    0.0011   0.49134     0.34   0.15220
1  0.337302    0.0011   0.49435     0.34   0.15505
2  0.333333    0.0011   0.49036     0.34   0.15240
3  0.329365    0.0011   0.48699     0.34   0.14700
4  0.325397    0.0011   0.48411     0.34   0.14555

In [22]:
data1.describe()

                 T            r            S         Cobs
         <float64>    <float64>    <float64>    <float64>
count  2712.000000  2712.000000  2712.000000  2712.000000
mean      0.132427     0.000606     0.511189     0.083719
std       0.084713     0.000200     0.011638     0.188942
min       0.007937     0.000300     0.475480     0.000010
25%       0.063492     0.000400     0.507030     0.012600
50%       0.119048     0.000600     0.513890     0.061100
75%       0.190476     0.000700     0.518160     0.117953
max       0.341270     0.001200     0.529590     3.125000

In [53]:
from pyfinance.options import BSM
import numpy as np

In [65]:
data0 = data1.iloc[41]
data0
bsm = BSM(data0['S'], data0['E'], data0['T'], data0['r'], 100)

In [66]:
bsm.implied_vol(data0['Cobs'])

0.40364643763147495

In [67]:
bsm.delta()

1.0